{% extends 'core/base.html' %}
{% block content %}
{% load static %}
                    
                  
                    <div class="card shadow mb-4">
                        
                        <div class="card-header py-3">
                            <!-- <h6 class="m-0 font-weight-bold text-primary"></h6><a href="{% url 'editsponcer' id=0 %}" class="m-0 font-weight-bold text-primary">Add New Sponsor</a></h6>  -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <h1>Logout Page</h1>
                            </div>
                        </div>
                    </div>

                
              
         
{% endblock content %}